# Node modules
node_modules/
*/node_modules/

# Mini Program build output
miniprogram_npm/

# IDE
.vscode/
.idea/
*.sublime-workspace

# OS
.DS_Store
.DS_Store?

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Temp & Cache
.tmp/
.temp/
.cache/

# WeChat DevTools
.wechatdevtools/

# Build outputs
dist/
build/
